<div class="col-md-4" *ngFor = "let game of games">
    <div class="card text-center">
        <div class="card-header bg-black text-white d-flex justify-content-between aling-items-certer">
            {{game.title}}
            <button class="btn btn-danger" (click) = "deleteGame(game.id)">
                <i class=" far fa-trash-alt"></i>  

            </button>
        </div>
        <img class="card-img-top" [src]="game.image">
        <div class="card body">
            <p>{{game.description}}</p>
            <a [routerLink] = "['/games/edit', game.id]" class="btn btn-info btn-block">
                EDIT GAME
            </a>
        </div>
    </div>

</div>